{% extends "base.html" %}
{% block title %}ChatBot{% endblock %}

{% block content %}
<h1 class="chat">Chat</h1>
{% for i,j in user|zip(bot) %}
<h2 class="h2-chat1">You: {{i}}</h2>
<h2 class="h2-chat2">Bot: {{j}}</h2>
{% endfor%}
<form method="post">
    <p><input type="text" name = "nm" style="margin-left: 550px;" /></p>
    <p><input type="submit" value = "Send" style="margin-left: 712px;"/></p>
</form>

<img src="../static/Avatar.png" 
     style="width: 177px;height: 170px;margin-left: 556px;"
     title="CoolBot's Avatar">
{% endblock %}




