{% extends "base.html" %}
{% block title %}ChatBot{% endblock %}

{% block content %}
<h1 class="chat">Chat</h1>
{% for i,j in user|zip(bot) %}
<h2 class="h2-chat1">You: {{i}}</h2>
{% if image %}
<img src="{{j}}", style="width: 600px;height: 600px;">
{% else %}
<h2 class="h2-chat2">CoolBot: {{j}}</h2>
{% endif %}
{% endfor%}
<form method="post">
    <p><input type="text" name = "nm" style="margin-left: 42%;" /></p>
    <p><input type="submit" value = "Send" style="margin-left: 53%;"/></p>
</form>

<img src="../static/Avatar.png" 
     style="width: 177px;height: 170px;margin-left: 43.5%;"
     title="CoolBot's Avatar">
{% endblock %}




