{% extends "base.html" %}
{% block content %}
<h1 class="info">CoolBot v1.0</h1>
<h1 class="made">Made by:</h1>
<h2 class="made"><a href = "https://github.com/Rmejiaz">Rafael Mejía Zuluaga</a>
     <img src="../static/github_logo.png" style="width: 20px;height: 20px;" 
     title="Github Logo"></h2>
<h2 class="made"><a href = "https://github.com/sbuitragoo">Santiago Buitrago Osorio</a>
     <img src="../static/github_logo.png" style="width: 20px;height: 20px;"
     title="Github Logo"></h2>

<img src="../static/UNAL.jpeg"
     style="width: 800px;height: 300px;margin-left: 220px;"
     title="Logo of Universidad Nacional de Colombia">

<h2 class="made1">Created using flask and nltk</h2>     
{% endblock %}