{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% block content %}
<h1 class="info"><a href = "https://github.com/Rmejiaz/CoolBot"> CoolBot v1.0</a></h1>
<h1 class="made">Made by:</h1>
<h2 class="made">Rafael Mejía Zuluaga
     <a href = "https://github.com/Rmejiaz"><img src="../static/github_logo.png" style="width: 20px;height: 20px;" 
     title="Rmejiaz"></h2></a>
<h2 class="made">Santiago Buitrago Osorio
     <a href = "https://github.com/sbuitragoo"><img src="../static/github_logo.png" style="width: 20px;height: 20px;"
     title="sbuitragoo"></h2></a>

<img src="../static/UNAL.jpeg"
     style="width: 800px;height: 300px;margin-left: 20%;"
     title="Logo of Universidad Nacional de Colombia">

<h2 class="made1">Created using flask, nltk and tensorflow</h2>     
{% endblock %}